body{
    margin-left: 150px;
    margin-right: 150px;
}

header {
    width: 900px;
}

header div {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: right;
}

#logo {
    display: inline-block;
    width: 250px;
    margin-bottom: 10px;
}

#fork-knife {
    float: left;
    margin-top: 18px;
}

h2{
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
    float: left;
    padding-left: 10px;
    padding-top: 15px;
}

#logo h5 {
    float: left;
    font-family: 'Oswald', sans-serif;
    font-size: 11px;
    color:  darkgrey;
    width: 150px;
}

#socialMedia {
    float: right;
    padding-top: 40px;
}

#pint {
    padding-right: 5px;
}

div header{
    display: inline-block;
}

#border {
    background-image: url(img/hr-img.png);
    width: 900px;
    height: 12px;
    
}

#articleTitle{
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    width: 900px;
}

h1{
    font-weight: bolder;
    font-size: 45px;
    padding-top: 50px; 
}

#articleTitle p {
    color: darkgrey;
    font-size: 13px;
    font-weight: 100;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 30px;
    letter-spacing: 1px;
}
 
#print {
    float: right;
}

#choco-pizza{
    padding-right: 150px;
    width: 900px;
}

main {
    width: 900px;
}

#recipe p {
    margin-top: 30px;
    display: inline-block;
    color: rgb(124, 114, 114);
    font-size: 20px;
    text-indent: 2em;
    line-height: 1.75rem;
}

#yellowpaper {
    padding-top: 10px;
    position: absolute;
    z-index: -10;
}

#ingredients {
    margin-top: 22px;
    margin-bottom: 60px;
    height: 300px;
    width: 900px;
    position: relative;
    font-size: 25px;
    font-family: 'Patrick Hand', cursive;
    color: rgb(124, 114, 114);
    z-index: 100;
}

#list1 {
    display: inline-block;
    margin-left: 70px;
    width: 350px;
}

#list2{
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
    width: 350px;

}

li {
    padding-bottom: 7px;
}

input{
    width: 20px;
    opacity: 0.5;
    color: rgb(124, 114, 114);
}

footer {
    width: 900px;
    padding-bottom: 80px;
}

#van {
    width: 960px;
    margin-bottom: 60px;
}

#imgVan {
    display: inline-block;
    padding-top: 20px;
}

#aboutVan {
    width: 560px;
}

footer h3 {
    font-size: 20px;
    color: rgb(51, 48, 48);
    margin-bottom: 10px;
    width: 300px;
}

#bioText{
    display: inline-block;
    vertical-align: top;
    font-size: 19px;
    color: rgb(104, 95, 95);
    margin-left: 20px;
    margin-top: 20px;
    line-height: 1.5rem;
    width: 800px;
}

#shareButton {
    background-color: rgb(211, 88, 7);
    color: seashell;
    padding:14px 33px 14px 33px;
    font-size: 18px;
    float: right;
}

#closing-logo {
    text-align: center;
    margin-bottom: 30px;
}

#copyright {
    text-align: center;
    color: rgb(167, 161, 161);
    font-size: 16px;
}
hr {
    display: inline-block;
    width: 420px;
    opacity: .25;
}
